-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: bienes_informaticos
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activo_especifico`
--

DROP TABLE IF EXISTS `activo_especifico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activo_especifico` (
  `id_activo_especifico` int NOT NULL AUTO_INCREMENT,
  `id_grupo_activo` int NOT NULL,
  `nombre` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_activo_especifico`),
  KEY `FK_activo_especifico_grupo` (`id_grupo_activo`),
  CONSTRAINT `FK_activo_especifico_grupo` FOREIGN KEY (`id_grupo_activo`) REFERENCES `grupo_activo` (`id_grupo_activo`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activo_especifico`
--

LOCK TABLES `activo_especifico` WRITE;
/*!40000 ALTER TABLE `activo_especifico` DISABLE KEYS */;
INSERT INTO `activo_especifico` VALUES (1,1,'1',NULL,1),(2,1,'LAPTOP','Computadora portatil',1),(3,1,'COMPUTADORA DE ESCRITORIO','Equipo de computo de escritorio',1),(4,2,'IMPRESORA LASER','Impresora laser para oficina',1),(5,2,'MONITOR',NULL,1),(6,1,'COMPUTADORA DE ESCRITORIO 1',NULL,1),(7,1,'COMPUTADORA DE ESCRITORIO PRUEBA',NULL,1),(8,1,'COMPU',NULL,1),(9,2,'ACT ESP IMPRESORA LASER',NULL,1),(10,1,'LAPTOP ACT ESP',NULL,1),(11,2,'LAPTOP ACT ESP',NULL,1),(12,8,'celular Samsung',NULL,1),(13,8,'celular Moto',NULL,1);
/*!40000 ALTER TABLE `activo_especifico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activo_generico`
--

DROP TABLE IF EXISTS `activo_generico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activo_generico` (
  `id_activo_generico` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_activo_generico`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activo_generico`
--

LOCK TABLES `activo_generico` WRITE;
/*!40000 ALTER TABLE `activo_generico` DISABLE KEYS */;
INSERT INTO `activo_generico` VALUES (1,'EQUIPO DE COMPUTO',NULL,1),(2,'EQUIPO DE COMPUTO','Equipo de computo',1),(3,'EQUIPO DE IMPRESION','Equipos destinados a impresion de documentos',1),(4,'EQUIPO DE COMUNICACION','Equipos utilizados para comunicacion y conectividad',1),(5,'Telefono','telefono',1),(6,'Telefono','telefono',0);
/*!40000 ALTER TABLE `activo_generico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `baja_resguardo`
--

DROP TABLE IF EXISTS `baja_resguardo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `baja_resguardo` (
  `id_baja` int NOT NULL AUTO_INCREMENT,
  `id_resguardo` int NOT NULL,
  `id_bien` int NOT NULL,
  `fecha_baja` date NOT NULL,
  `motivo` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_monitor` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_serie_cpu` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_serie_teclado` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_serie_mouse` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_serie_ups_cargador` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_baja`),
  KEY `FK_baja_resguardo` (`id_resguardo`),
  KEY `FK_baja_bien` (`id_bien`),
  CONSTRAINT `FK_baja_bien` FOREIGN KEY (`id_bien`) REFERENCES `bien` (`id_bien`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `FK_baja_resguardo` FOREIGN KEY (`id_resguardo`) REFERENCES `resguardo` (`id_resguardo`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `baja_resguardo`
--

LOCK TABLES `baja_resguardo` WRITE;
/*!40000 ALTER TABLE `baja_resguardo` DISABLE KEYS */;
/*!40000 ALTER TABLE `baja_resguardo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bee_permisos`
--

DROP TABLE IF EXISTS `bee_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bee_permisos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `slug` varchar(100) DEFAULT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `creado` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bee_permisos`
--

LOCK TABLES `bee_permisos` WRITE;
/*!40000 ALTER TABLE `bee_permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `bee_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bee_roles`
--

DROP TABLE IF EXISTS `bee_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bee_roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) DEFAULT NULL,
  `slug` varchar(100) DEFAULT NULL,
  `creado` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bee_roles`
--

LOCK TABLES `bee_roles` WRITE;
/*!40000 ALTER TABLE `bee_roles` DISABLE KEYS */;
INSERT INTO `bee_roles` VALUES (4,'Administrador de inventario','admin','2026-09-22 11:43:25'),(5,'Operador de inventario','inventario','2026-09-22 11:43:25');
/*!40000 ALTER TABLE `bee_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bee_roles_permisos`
--

DROP TABLE IF EXISTS `bee_roles_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bee_roles_permisos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_role` int NOT NULL,
  `id_permiso` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bee_roles_permisos`
--

LOCK TABLES `bee_roles_permisos` WRITE;
/*!40000 ALTER TABLE `bee_roles_permisos` DISABLE KEYS */;
INSERT INTO `bee_roles_permisos` VALUES (4,5,4),(5,5,5),(6,5,6),(7,5,7),(8,5,8),(11,4,9);
/*!40000 ALTER TABLE `bee_roles_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bee_users`
--

DROP TABLE IF EXISTS `bee_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bee_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `auth_token` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `nombre` varchar(150) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `rol` varchar(30) NOT NULL DEFAULT 'inventario',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bee_users`
--

LOCK TABLES `bee_users` WRITE;
/*!40000 ALTER TABLE `bee_users` DISABLE KEYS */;
INSERT INTO `bee_users` VALUES (1,'$2y$10$DZDDl8LDBFptMC.uIOg/ZOcTH8.ct0yo/tRY1nqMqocX5CxxvJ4h2','bee','$2y$10$xHEI5cJ3q7rBJaL.M9qBRe909ahHvIZVTfRRxlLqfnWwAYwWQE/Wu','jslocal@localhost.com',NULL,NULL,'admin',1,'2021-12-05 15:52:17');
/*!40000 ALTER TABLE `bee_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bien`
--

DROP TABLE IF EXISTS `bien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bien` (
  `id_bien` int NOT NULL AUTO_INCREMENT,
  `numero_inventario` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `clave_interna` varchar(18) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nic_cea` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_unidad` int NOT NULL,
  `id_activo_especifico` int DEFAULT NULL,
  `nombre_bien` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `material` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_marca` int DEFAULT NULL,
  `id_modelo` int DEFAULT NULL,
  `color` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_estado_uso` int DEFAULT NULL,
  `numero_serie` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `caracteristicas` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_alta` date DEFAULT NULL,
  `fecha_adquisicion` date DEFAULT NULL,
  `fecha_elaboracion` date DEFAULT NULL,
  `fecha_asignacion` date DEFAULT NULL,
  `valor` decimal(18,2) DEFAULT NULL,
  `id_ubicacion` int DEFAULT NULL,
  `piso` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `seccion_ala` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cubiculo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_bien`),
  UNIQUE KEY `numero_inventario` (`numero_inventario`),
  UNIQUE KEY `uq_bien_clave_interna` (`clave_interna`),
  KEY `FK_bien_unidad` (`id_unidad`),
  KEY `FK_bien_activo_especifico` (`id_activo_especifico`),
  KEY `FK_bien_marca` (`id_marca`),
  KEY `FK_bien_modelo` (`id_modelo`),
  KEY `FK_bien_estado` (`id_estado_uso`),
  KEY `FK_bien_ubicacion` (`id_ubicacion`),
  KEY `idx_bien_inventario` (`numero_inventario`),
  KEY `idx_bien_serie` (`numero_serie`),
  KEY `idx_bien_activo` (`activo`),
  KEY `idx_bien_clave_interna` (`clave_interna`),
  CONSTRAINT `FK_bien_activo_especifico` FOREIGN KEY (`id_activo_especifico`) REFERENCES `activo_especifico` (`id_activo_especifico`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_bien_estado` FOREIGN KEY (`id_estado_uso`) REFERENCES `estado_uso` (`id_estado_uso`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_bien_marca` FOREIGN KEY (`id_marca`) REFERENCES `marca` (`id_marca`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_bien_modelo` FOREIGN KEY (`id_modelo`) REFERENCES `modelo` (`id_modelo`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_bien_ubicacion` FOREIGN KEY (`id_ubicacion`) REFERENCES `ubicacion` (`id_ubicacion`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_bien_unidad` FOREIGN KEY (`id_unidad`) REFERENCES `unidad_administrativa` (`id_unidad`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bien`
--

LOCK TABLES `bien` WRITE;
/*!40000 ALTER TABLE `bien` DISABLE KEYS */;
/*!40000 ALTER TABLE `bien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codigo_barra`
--

DROP TABLE IF EXISTS `codigo_barra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codigo_barra` (
  `id_codigo_barra` int NOT NULL AUTO_INCREMENT,
  `id_bien` int NOT NULL,
  `codigo` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_codigo` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CODE128',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_generacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_codigo_barra`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `FK_codigo_barra_bien` (`id_bien`),
  CONSTRAINT `FK_codigo_barra_bien` FOREIGN KEY (`id_bien`) REFERENCES `bien` (`id_bien`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codigo_barra`
--

LOCK TABLES `codigo_barra` WRITE;
/*!40000 ALTER TABLE `codigo_barra` DISABLE KEYS */;
INSERT INTO `codigo_barra` VALUES (1,1,'CI-000001','CODE128',1,'2026-09-22 14:09:54'),(2,2,'CI-000002','CODE128',1,'2026-09-22 14:09:54'),(3,3,'CI-000003','CODE128',1,'2026-09-22 14:09:54'),(4,4,'CI-202609221738531','CODE128',1,'2026-09-22 17:38:53'),(5,5,'CI-202609231318141','CODE128',1,'2026-09-23 13:18:14');
/*!40000 ALTER TABLE `codigo_barra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `componente`
--

DROP TABLE IF EXISTS `componente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `componente` (
  `id_componente` int NOT NULL AUTO_INCREMENT,
  `id_bien` int NOT NULL,
  `tipo_componente` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `marca` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_serie` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_inventario` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_componente`),
  KEY `FK_componente_bien` (`id_bien`),
  CONSTRAINT `FK_componente_bien` FOREIGN KEY (`id_bien`) REFERENCES `bien` (`id_bien`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `componente`
--

LOCK TABLES `componente` WRITE;
/*!40000 ALTER TABLE `componente` DISABLE KEYS */;
INSERT INTO `componente` VALUES (1,1,'Monitor','P2422H','DELL','MON-000001','COMP-000001',0),(2,1,'Teclado','KB216','DELL','TEC-000001','COMP-000002',0),(3,2,'Cargador','65W USB-C','DELL','CAR-000001','COMP-000003',0),(4,1,'CPU','A','A','A',NULL,0),(5,1,'CPU','PRO MAX 1','DELL','3PSJGFVBNJHGF',NULL,1),(6,2,'CARGADOR','HHJKLÑ.-{','GENERICO','ASDFGHJNKM',NULL,1),(7,4,'CPU','MODELO PRO MAX','DELL','SERIESADSSD','CI-00000147852458',1);
/*!40000 ALTER TABLE `componente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_uso`
--

DROP TABLE IF EXISTS `estado_uso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estado_uso` (
  `id_estado_uso` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_estado_uso`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_uso`
--

LOCK TABLES `estado_uso` WRITE;
/*!40000 ALTER TABLE `estado_uso` DISABLE KEYS */;
INSERT INTO `estado_uso` VALUES (1,'Bueno',1),(2,'Regular',1),(3,'Malo',1);
/*!40000 ALTER TABLE `estado_uso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupo_activo`
--

DROP TABLE IF EXISTS `grupo_activo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grupo_activo` (
  `id_grupo_activo` int NOT NULL AUTO_INCREMENT,
  `id_activo_generico` int NOT NULL,
  `nombre` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_grupo_activo`),
  KEY `FK_grupo_activo_generico` (`id_activo_generico`),
  CONSTRAINT `FK_grupo_activo_generico` FOREIGN KEY (`id_activo_generico`) REFERENCES `activo_generico` (`id_activo_generico`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupo_activo`
--

LOCK TABLES `grupo_activo` WRITE;
/*!40000 ALTER TABLE `grupo_activo` DISABLE KEYS */;
INSERT INTO `grupo_activo` VALUES (1,1,'EQUIPO DE COMPUTO',NULL,1),(2,1,'COMPUTADORAS','Equipos de computo personales',1),(3,2,'IMPRESORAS','Equipos de impresion',1),(4,3,'REDES','Equipos de comunicacion y conectividad',1),(5,1,'COMPUTADORAS','Equipos de computo personales',1),(6,2,'IMPRESORAS','Equipos de impresion',1),(7,3,'REDES','Equipos de comunicacion y conectividad',1),(8,5,'Celular',NULL,1);
/*!40000 ALTER TABLE `grupo_activo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marca`
--

DROP TABLE IF EXISTS `marca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marca` (
  `id_marca` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_marca`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marca`
--

LOCK TABLES `marca` WRITE;
/*!40000 ALTER TABLE `marca` DISABLE KEYS */;
INSERT INTO `marca` VALUES (1,'HP',1),(2,'DELL',1),(3,'LENOVO',1),(4,'EPSON',1);
/*!40000 ALTER TABLE `marca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modelo`
--

DROP TABLE IF EXISTS `modelo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modelo` (
  `id_modelo` int NOT NULL AUTO_INCREMENT,
  `id_marca` int NOT NULL,
  `nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_modelo`),
  KEY `FK_modelo_marca` (`id_marca`),
  CONSTRAINT `FK_modelo_marca` FOREIGN KEY (`id_marca`) REFERENCES `marca` (`id_marca`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modelo`
--

LOCK TABLES `modelo` WRITE;
/*!40000 ALTER TABLE `modelo` DISABLE KEYS */;
INSERT INTO `modelo` VALUES (1,1,'S1922',1),(2,1,'LATITUDE 5420',1),(3,2,'THINKCENTRE M70Q',1),(4,3,'ECOTANK L3250',1),(5,4,'LATITUDE 5420',1),(6,2,'LATITUDE 5420',1),(7,3,'SLIM',1),(8,3,'THINKCENTRE M70Q',1),(9,3,'Motog40',1),(10,1,'slim',1);
/*!40000 ALTER TABLE `modelo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimiento_bien`
--

DROP TABLE IF EXISTS `movimiento_bien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimiento_bien` (
  `id_movimiento` int NOT NULL AUTO_INCREMENT,
  `id_bien` int NOT NULL,
  `id_usuario` int DEFAULT NULL,
  `usuario_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unidad_anterior` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `codigo_ua_anterior` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unidad_nueva` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `codigo_ua_nueva` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ubicacion_anterior_detalle` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ubicacion_nueva_detalle` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `csp_anterior` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre_resguardante_anterior` varchar(305) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `csp_nuevo` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre_resguardante_nuevo` varchar(305) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unidad_resguardante_anterior` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `codigo_ua_resguardante_anterior` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unidad_resguardante_nueva` varchar(250) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `codigo_ua_resguardante_nueva` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_anterior` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_nuevo` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_movimiento` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ubicacion_anterior` int DEFAULT NULL,
  `ubicacion_nueva` int DEFAULT NULL,
  `resguardante_anterior` int DEFAULT NULL,
  `resguardante_nuevo` int DEFAULT NULL,
  `id_resguardo_anterior` int DEFAULT NULL,
  `id_resguardo_nuevo` int DEFAULT NULL,
  `fecha_movimiento` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `motivo` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_movimiento`),
  KEY `FK_movimiento_ubicacion_anterior` (`ubicacion_anterior`),
  KEY `FK_movimiento_ubicacion_nueva` (`ubicacion_nueva`),
  KEY `FK_movimiento_resguardante_anterior` (`resguardante_anterior`),
  KEY `FK_movimiento_resguardante_nuevo` (`resguardante_nuevo`),
  KEY `FK_movimiento_resguardo_anterior` (`id_resguardo_anterior`),
  KEY `FK_movimiento_resguardo_nuevo` (`id_resguardo_nuevo`),
  KEY `idx_movimiento_bien_fecha` (`id_bien`,`fecha_movimiento`),
  KEY `idx_movimiento_usuario` (`id_usuario`),
  CONSTRAINT `FK_movimiento_bien` FOREIGN KEY (`id_bien`) REFERENCES `bien` (`id_bien`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_resguardante_anterior` FOREIGN KEY (`resguardante_anterior`) REFERENCES `resguardante` (`id_resguardante`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_resguardante_nuevo` FOREIGN KEY (`resguardante_nuevo`) REFERENCES `resguardante` (`id_resguardante`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_resguardo_anterior` FOREIGN KEY (`id_resguardo_anterior`) REFERENCES `resguardo` (`id_resguardo`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_resguardo_nuevo` FOREIGN KEY (`id_resguardo_nuevo`) REFERENCES `resguardo` (`id_resguardo`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_ubicacion_anterior` FOREIGN KEY (`ubicacion_anterior`) REFERENCES `ubicacion` (`id_ubicacion`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_ubicacion_nueva` FOREIGN KEY (`ubicacion_nueva`) REFERENCES `ubicacion` (`id_ubicacion`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FK_movimiento_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `bee_users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimiento_bien`
--

LOCK TABLES `movimiento_bien` WRITE;
/*!40000 ALTER TABLE `movimiento_bien` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimiento_bien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `options`
--

DROP TABLE IF EXISTS `options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `options` (
  `id` int NOT NULL AUTO_INCREMENT,
  `option` varchar(255) DEFAULT NULL,
  `val` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `options`
--

LOCK TABLES `options` WRITE;
/*!40000 ALTER TABLE `options` DISABLE KEYS */;
/*!40000 ALTER TABLE `options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `posts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT '',
  `id_padre` bigint DEFAULT NULL,
  `id_usuario` bigint DEFAULT NULL,
  `id_ref` bigint DEFAULT NULL,
  `titulo` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `permalink` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `contenido` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `status` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `mime_type` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `creado` datetime DEFAULT NULL,
  `actualizado` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pruebas`
--

DROP TABLE IF EXISTS `pruebas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pruebas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT '',
  `titulo` varchar(255) DEFAULT NULL,
  `contenido` text,
  `creado` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pruebas`
--

LOCK TABLES `pruebas` WRITE;
/*!40000 ALTER TABLE `pruebas` DISABLE KEYS */;
/*!40000 ALTER TABLE `pruebas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resguardante`
--

DROP TABLE IF EXISTS `resguardante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resguardante` (
  `id_resguardante` int NOT NULL AUTO_INCREMENT,
  `clave_interna` varchar(18) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellido_paterno` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellido_materno` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `csp` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_unidad` int DEFAULT NULL,
  `notas` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_resguardante`),
  UNIQUE KEY `uq_resguardante_csp` (`csp`),
  UNIQUE KEY `clave_interna` (`clave_interna`),
  KEY `idx_resguardante_unidad` (`id_unidad`),
  CONSTRAINT `FK_resguardante_unidad` FOREIGN KEY (`id_unidad`) REFERENCES `unidad_administrativa` (`id_unidad`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resguardante`
--

LOCK TABLES `resguardante` WRITE;
/*!40000 ALTER TABLE `resguardante` DISABLE KEYS */;
INSERT INTO `resguardante` VALUES (1,NULL,'Juan','Martinez','Lopez','123450001',16,'Resguardante de prueba 1',1),(2,NULL,'Maria','Hernandez','Garcia','123333333',4,'Resguardante de prueba 2',0),(3,NULL,'Carlos','Ramirez','Sanchez','123456603',90,'Resguardante de prueba 3',0),(4,NULL,'JAZMIN','ONOFRE','GARCIA','210061636',90,NULL,1);
/*!40000 ALTER TABLE `resguardante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resguardo`
--

DROP TABLE IF EXISTS `resguardo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resguardo` (
  `id_resguardo` int NOT NULL AUTO_INCREMENT,
  `id_bien` int NOT NULL,
  `id_resguardante` int NOT NULL,
  `csp` varchar(9) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_equipo` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_equipo` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `candado` char(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_asignacion` date DEFAULT NULL,
  `fecha_devolucion` date DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_resguardo`),
  KEY `FK_resguardo_resguardante` (`id_resguardante`),
  KEY `idx_resguardo_vigente` (`id_bien`,`activo`),
  KEY `idx_resguardo_csp` (`csp`),
  CONSTRAINT `FK_resguardo_bien` FOREIGN KEY (`id_bien`) REFERENCES `bien` (`id_bien`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `FK_resguardo_csp` FOREIGN KEY (`csp`) REFERENCES `resguardante` (`csp`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `FK_resguardo_resguardante` FOREIGN KEY (`id_resguardante`) REFERENCES `resguardante` (`id_resguardante`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resguardo`
--

LOCK TABLES `resguardo` WRITE;
/*!40000 ALTER TABLE `resguardo` DISABLE KEYS */;
/*!40000 ALTER TABLE `resguardo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ubicacion`
--

DROP TABLE IF EXISTS `ubicacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ubicacion` (
  `id_ubicacion` int NOT NULL AUTO_INCREMENT,
  `municipio` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `localidad` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ubicacion_fisica` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_ubicacion`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ubicacion`
--

LOCK TABLES `ubicacion` WRITE;
/*!40000 ALTER TABLE `ubicacion` DISABLE KEYS */;
INSERT INTO `ubicacion` VALUES (1,'TOLUCA','TOLUCA',NULL,1),(2,'TOLUCA','TOLUCA','Departamento de Tecnologias de la Informacion',1),(3,'TOLUCA','TOLUCA','Departamento de Recursos Humanos',1),(4,'TOLUCA','TOLUCA','Departamento de Recursos Materiales',1);
/*!40000 ALTER TABLE `ubicacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidad_administrativa`
--

DROP TABLE IF EXISTS `unidad_administrativa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unidad_administrativa` (
  `id_unidad` int NOT NULL AUTO_INCREMENT,
  `codigo_ua` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_padre` int DEFAULT NULL,
  PRIMARY KEY (`id_unidad`),
  KEY `FK_ua_padre` (`id_padre`),
  CONSTRAINT `FK_ua_padre` FOREIGN KEY (`id_padre`) REFERENCES `unidad_administrativa` (`id_unidad`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidad_administrativa`
--

LOCK TABLES `unidad_administrativa` WRITE;
/*!40000 ALTER TABLE `unidad_administrativa` DISABLE KEYS */;
/*!40000 ALTER TABLE `unidad_administrativa` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-24 14:35:07
